---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
import CodeIcon from "../icons/Code.astro";
import SuitcaseIcon from "../icons/Suitcase.astro";
import Experience from "../components/Experience.astro";
import ProfileIcon from "../icons/Profile.astro";
import Projects from "../components/Projects.astro";
import Container from "../components/Container.astro";
import Hero from "../components/Hero.astro";
import TitleSection from "../components/TitleSection.astro";
---

<Layout
  title="Portafolio de Darwin Niño - Ingeniero de Sistemas y Desarrollador Web"
  description="Portafolio de Darwin Niño, Ingeniero de Sistemas y Desarrollador Web, apasionado por la tecnología y el aprendizaje continuo."
>
  <main class="px-4">
    <Container class="py-16 md:py-36">
      <Hero />
    </Container>
  </main>
  <div class="space-y-24">
    <Container id="experiencia">
      <TitleSection>
        <SuitcaseIcon class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </Container>

    <Container id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </Container>

    <Container id="sobre-mi">
      <TitleSection>
        <ProfileIcon class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </Container>
  </div>
</Layout>
