---
// filepath: src/components/DownloadCV.astro
import CvIcon from "../icons/Cv.astro";
---

<div class="flex justify-center mt-4">
  <a
    href="/CV_DARWIN_NIÑO.pdf"
    download
    class="inline-flex text-white border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white border hover:text-black dark:border-gray-600 focus-visible:ring-yellow-400/80 text-md hover:scale-110 hover:bg-white hover:border-black group max-w-fit rounded-xl dark:hover:bg-black dark:hover:text-white dark:hover:border-black focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
  >
    <CvIcon class="size-5" />
    Descargar Currilum Vitae
  </a>
</div>
