---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Diciembre - Actualidad",
    title: "Analista De Soporte TI",
    company: "SmartTech", // Agrega la propiedad aunque esté vacía
    description:
      "Resolución de problemas de hardware, software para la empresa de Bolten Sprays como prestador de Serivicio. Mi principal función, configuración y mantenimiento de equipos, diagnosticar, solucionar incidencias para asegurar la continuidad operativa de la empresa y proporcionar orientación sobre el uso de la tecnología y realizar tareas básicas de seguridad",
  },
  {
    date: "Abril - Junio 2025",
    title: "Administrador de paginas web",
    company: "", // Agrega la propiedad aunque esté vacía
    description:
      "Creación y administración de paginas web en WordPress, optimización SEO, gestión de contenido y mantenimiento técnico para asegurar un rendimiento óptimo.",
  },
  {
    date: "Julio - Diciembre 2023",
    title: "Coordinador de Laboratorios",
    company: "Universidad Simón Bolívar",
    description:
      "Supervisión y coordinación de los laboratorios de la universidad, asegurando el correcto funcionamiento de los equipos, mantenimiento preventivo a los equipos de computo, gestión de inventario, actualización de Software y la implementación de un software estadístico de las licencias.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
