---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:darwninoe@gmail.com",
  },
];
---

<header
  class="fixed top-2 flex items-center justify-center z-10 w-full sm:w-auto rounded-2xl transition-all duration-300 "
>
<nav
    class= "flex px-3 text-sm font-medium rounded-full shadow-lg bg-indigo-900/80 dark:bg-indigo-800/10 backdrop-blur-md backdrop-saturate-150 border border-white/20 dark:border-gray-800/20 justify-center items-center transition-all "
    >
    {
      navItems.map((link) => (
        <a
          class="relative flex items-center justify-center sm:w-10 sm:h-10 px-2 py-2 transition-all hover:underline hover:text-black dark:hover:text-yellow-600 hover:scale-110 shadow-lg "
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />  
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-yellow-500");
            } else {
              item.classList.remove("text-yellow-500");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<style>
  header {
    transform: translateY(-40px);
    animation: slideDown 0.7s ease-out forwards;
  }

  @keyframes slideDown {
    to {
      transform: translateY(0);
    }
  }
</style>
